services:
  - type: web
    name: medicine-reminder-app
    env: python
    plan: free
    region: oregon
    buildCommand: |
      pip install -r requirements.txt
    startCommand: gunicorn --bind 0.0.0.0:$PORT app:app
    envVars:
      - key: DATABASE_URL
        value: postgresql://medicine_reminder_db_ydwd_user:MA8YcIJ9c23KnnMaArYbFSfRfA5qYwpd@dpg-d4i9106r433s73c98mv0-a/medicine_reminder_db_ydwd
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.4
